* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #deffdf;
}

#pasek 
{
    background-color: #817f7f;
    height: 5vh;
    display: flex;
    justify-content: center;
}

#pasek ul 
{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    align-items: stretch;
}

#pasek li 
{
    flex: 1;
}

#pasek button 
{
    height: 100%;
    width: 100%;
    background-color: #333;
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pasek button:hover 
{
    background-color: rgb(37, 37, 37)
}

#pasek button:disabled
{
    background-color: rgb(37, 37, 37);
    cursor: default;
}

#panel 
{
    background-color: #4CAF50;
    height: 15vh;
    display: flex;    
    justify-content: center;
    align-items: stretch;
}

#panel ul 
{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    align-items: stretch;
}

#panel li 
{
    flex: 1;
    display: flex;
    justify-content: center;
}

#panel button 
{
    height: 100%;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel button:hover 
{
    background-color: #45a049;
}

#panel button:disabled
{
    background-color: #45a049;
    cursor: default;
}

#panel a 
{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#pasek a 
{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


#tabela 
{
    background-color: #deffdf;
    height: auto;
    max-height: 100vh;
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    overflow-y: scroll;
    direction: rtl;
    padding-top: 5px;
}

#tabela table 
{
    border-collapse: collapse;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    direction: ltr;
    
}

#tabela table, th, td 
{
    box-sizing: border-box;
}

#tabela th, td 
{
    padding: 10px;
    text-align: left;
    /* vertical-align: top; */
}

#tabela th 
{
    position: sticky;
    top: 0;
    background-color: #45a049;
    color: white;
    z-index: 2;
}

#tabela tbody tr:nth-child(odd) 
{
    background-color: #ddd;
}

#tabela tbody tr:nth-child(even) 
{
    background-color: #f9f9f9;
}

#formularz 
{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* padding: 20px; */
    align-items: stretch;
    height: calc(100vh - 40px);
    overflow: hidden; 
}

.podsekcja 
{
    flex: 1;
    max-width: 33%;
    padding: 15px;
    /* background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.podsekcja h2 
{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.podsekcja form 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    overflow-y: auto;
}

.podsekcja label 
{
    font-weight: bold;
}

.podsekcja input,
.podsekcja button 
{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}

.podsekcja button 
{
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.podsekcja button.override-style 
{
    width: 18%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.podsekcja button:hover 
{
    background-color: #45a049;
}
.podsekcja .checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.podsekcja .checkbox-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.podsekcja .checkbox-container label {
    font-weight: bold;
    cursor: pointer;

}

.podsekcja input[type="text"]#ISBN, input[type="text"]#numer_wydania, input[type="text"]#editionNumber,
input[type="text"]#new_ISBN, input[type="text"]#new_numer_wydania, input[type="text"]#edit_book_isbn, input[type="text"]#edit_book_edition, input[type="text"]#bookISBN {    
    letter-spacing: 4px;
    padding-right: 10px;
}

.podsekcja select {
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    margin: 8px;
}

.podsekcja select.override-style { 
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
    width: initial;
    margin: 8px;
}
.form_name 
{
    text-align: center;
    font-size: 28px;
}

.actions button {
    background-color: #4CAF50;
    border: 2px solid transparent;
    color: white;
    padding: 10px 20px;

    cursor: pointer;
    border-radius: 12px;                            
}
.actions button:hover, .add-book-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    /* overflow: auto; */
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
    max-height: 85vh;
    overflow-y: auto;
}

.close-btn {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

#tabela .sortable th {
    cursor: pointer;
    position: relative;
}

#tabela .sortable thead tr
{
    position: sticky;
    top: 0;
    background-color: #45a049;
}

 .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 20%;
}

.popup-content .close-btn {
    position: absolute;
    top: -5px;
    right: 8px;
    cursor: pointer;
}

.popup-buttons {
    margin-top: 20px;
}

.popup-buttons button {
    background-color: #4CAF50;
    border: 2px solid transparent;
    color: white;
    padding: 10px 35px;
    cursor: pointer;
    border-radius: 12px;
}


.popup-buttons button:last-child {
    background-color: red;
    color: white;
}

.add-book-container {
    text-align: center;
    margin-top: 20px;
}

.add-book-button {
    font-size: 26px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; 
    margin: 20px auto;
}
 
.add-book-button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(66, 133, 244, 0.6);
}

button.import-image {
    width: 20%;
    padding: 2px;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: bold;
}

button.import-image {
    margin-top: 5px;
    background-color: #b3b3b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.import-image:hover  {
    background-color: #8f8f8f;
}

button.select-image {
    width: 20%;
    padding: 2px;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: bold;
}

button.select-image {
    margin-top: -10px;
    background-color: #b3b3b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.select-image:hover  {
    background-color: #8f8f8f;
}

#file-input {
    display: none;
}

.book-details-container p {
    display: table-cell;
    margin: 0;
    padding: 10px;
    flex: 1 1 45%;  
    font-size: 20px;
}
.book-details-container span {
    display: block;
}