* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globalne style */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    /* background: linear-gradient(to bottom, #ffffff, #85ea8a); */
}

/* Nagłówek */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

header nav ul {
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none; /* Usuń podkreślenie */
    color: #fff; /* Kolor tekstu */
    font-weight: bold;
    font-family: Arial, sans-serif;
}

header nav ul li a:hover {
    color: #007BFF; /* Kolor linku po najechaniu */
}

/* Sekcja powitalna */
#welcome {
    text-align: center;
    padding: 50px 20px;
    background-color: #4CAF50;
    color: white;
}

#welcome h1 {
    font-size: 3em;
}

#welcome p {
    font-size: 1.2em;
}

/* Sekcja o nas */
#about {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

/* Sekcja rezerwacji */
#reservation, #books {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

#reservation .btn, #books .btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

#reservation .btn:hover, #books .btn:hover {
    background-color: #45a049;
}

#logoutBtn {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

/* Stopka */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

input[readonly] {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #555;
    cursor: not-allowed;
    padding: 8px;
    border-radius: 4px;
}

#featured-books {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.book-carousel {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.book-item {
    flex: 0 0 auto;
    /* width: 300px; */
    margin: 10px;
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

.book-item img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 5px;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer; 
    /* transition: border 0.3s ease;  */
    transition: transform 0.2s ease-in;
}

.book-item img:hover {
    /* border: 3px solid #4CAF50;  */
    transform: scale(1.1);
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#search input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#search button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: bold;
}

#search button:hover {
    background-color: #45a049;
}